<div class="footer">
    <h1 class="footerTitle">Contact Me</h1>
    <div class="content">
        <div class="contacts">
            <a href="https://wa.me/201091968221" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
                <span>WhatsApp</span>
            </a>
            <a href="https://github.com/BAHER1088" target="_blank">
                <i class="fa-brands fa-github"></i>
                <span>GitHub</span>
            </a>
            <a href="https://www.linkedin.com/in/baher-hossam-b68aa2325" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
                <span>LinkedIn</span>
            </a>
            <a href="mailto:baher1088@gmail.com" target="_blank">
                <i class="fa-solid fa-envelope"></i>
                <span>Email</span>
            </a>
        </div>
        <div class="form">
            <form action="">
                <div id="poda">
                    <div class="glow"></div>
                    <div class="darkBorderBg"></div>
                    <div class="darkBorderBg"></div>
                    <div class="darkBorderBg"></div>

                    <div class="white"></div>

                    <div class="border"></div>

                    <div id="main">
                        <input placeholder="Name" type="text" name="text" class="input" />
                        <div id="input-mask"></div>
                        <div id="pink-mask"></div>
                    </div>
                </div>
                <div id="poda">
                    <div class="glow"></div>
                    <div class="darkBorderBg"></div>
                    <div class="darkBorderBg"></div>
                    <div class="darkBorderBg"></div>

                    <div class="white"></div>

                    <div class="border"></div>

                    <div id="main">
                        <input placeholder="Email" type="text" name="text" class="input" />
                        <div id="input-mask"></div>
                        <div id="pink-mask"></div>
                    </div>
                </div>
                <div id="poda">
                    <div class="glow"></div>
                    <div class="darkBorderBg"></div>
                    <div class="darkBorderBg"></div>
                    <div class="darkBorderBg"></div>

                    <div class="white"></div>

                    <div class="border"></div>

                    <div id="main">
                        <input placeholder="Subject" type="text" name="text" class="input" />
                        <div id="input-mask"></div>
                        <div id="pink-mask"></div>
                    </div>
                </div>
                <div id="poda" class="messageInput">
                    <div class="glow"></div>
                    <div class="darkBorderBg"></div>
                    <div class="darkBorderBg"></div>
                    <div class="darkBorderBg"></div>

                    <div class="white"></div>

                    <div class="border"></div>

                    <div id="main">
                        <textarea placeholder="Message" name="text" class="input"></textarea>
                        <div id="input-mask"></div>
                        <div id="pink-mask"></div>
                    </div>
                </div>
                <button type="submit" class="btn">Send Message</button>
            </form>
        </div>
    </div>
</div>